h1 {
    margin: 0;
    padding: 0;
    font-size: 28px;
}

.navbar {
    padding: 0;
    margin: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
}

.navbar-brand {
    display: block;
    font-size: 26px;
}

.navbar-nav {
    width: 100%;
    text-align: center;
    border: none;
}

.nav {
    height: 100%;
    width: 100%;
    margin: auto;
    font-size: 24px;
    align-items: center;
    justify-content: center;
}

.nav a {
    display: block;
    width: 100%;
    text-align: center;
}

.active {
    color: black !important;
    font-weight: bold;
}